@model TinyCrmWeb.Models.CreateProductViewModel
@Model.Name



<form method="post" action="@Url.Action("create","product")">

    <div class="form-group">
        <label for="@Html.IdFor(c=>c.CreateOptions.Id)">Product Id</label>
        @Html.TextBoxFor(c => c.CreateOptions.Id, new { @class = "form-control" })
        <small id="emailhelp" class="form-text text_muted">
            Enter the product id
        </small>
    </div>
    <div class="form-group">
        <label for="@Html.IdFor(c=>c.CreateOptions.Name)">Product Name</label>
        @Html.TextBoxFor(c => c.CreateOptions.Name, new { @class = "form-control" })
        <small id="emailhelp" class="form-text text_muted">
            Enter the product name
        </small>
    </div>
    <div class="form-group">
        <label for="@Html.IdFor(c=>c.CreateOptions.Price)">Price</label>
        @Html.TextBoxFor(c => c.CreateOptions.Price, new { @class = "form-control" })
        <small id="emailhelp" class="form-text text_muted">
            Enter the product price
        </small>
    </div>

    <div class="form-group">
        <label for="@Html.IdFor(c=>c.CreateOptions.ProductCategory)">Product Category</label>
        @Html.DropDownListFor(c => c.CreateOptions.ProductCategory, new SelectList(Enum.GetValues(typeof(TinyCrm.Core.Model.ProductCategory))),
                "Select Category")

    </div>

    <button type="button" class="btn btn-success">Success</button>

</form>